<div class="container" >
<form #frm="ngForm" (ngSubmit)="onSubmit(frm)">
  <div class="form-group">
  <div class="row">
    <div class="col-2" >
      <label  >Employee Name </label>
    </div>
    <div class="col-2">
        <input class="form-control" type="text" [(ngModel)]="name"  id="name" name="name" required>
    </div>
    <div class="col-2">
        <input class="form-control btn-primary" type="submit"  value="Search" >
    </div>
  </div>
  </div>
</form>

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>

<div class="row">
<div *ngIf="searchText">
  <app-tableview  [searchText]="searchText"  (removeDetails)="removeEmpDetail($event)"></app-tableview>
</div>
</div>
</div>
