<div class="container">
<div class="row">
  <div class="col-2">
    <label>Full Name</label>
  </div>
  <div class="col-2">
    <label>{{employee.firstName}}{{employee.lastName}}</label>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <label>Highest Qualifications</label>
  </div>
  <div class="col-2">
    <label>{{employee.qualification_2}}</label>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <label>Designation Title</label>
  </div>
  <div class="col-2">
    <label>{{employee.experianceTitle}}</label>
  </div>
  </div>

<div class="row">
  <div class="col-2">
    <label>Last Company</label>
  </div>
  <div class="col-2">
    <label>{{employee.prevCompany_2}}</label>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <label>Alternative Contact No</label>
  </div>
  <div class="col-2">
    <label>{{employee.emergencyContact}}</label>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <label>Current Location</label>
  </div>
  <div class="col-2">
    <label>{{employee.city}}</label>
  </div>
</div>

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
</div>
<a href="" (click)="back()">Go Back</a>
