<!--p>
  addemployee works!
</p -->
<div class="container">
  <form  [formGroup]="addEmp">
    <div class="form-group row">
      	<div class="col-xs-2"> <label for="ex1">First Name</label> </div>
        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
    </div>
    <div class="form-group row">
      	<div class="col-xs-2"> <label for="ex1">Last Name</label> </div>
        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
    </div>

    <div class="form-group row">
      	<div class="col-xs-2"> <label for="ex1">Date Of Birth</label> </div>
        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
    </div>

    <div class="form-group row">
      	<div class="col-xs-2"> <label for="ex1">Qualification 1</label> </div>
        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
    </div>

    <div class="form-group row">
      	<div class="col-xs-2"> <label for="ex1">Qualification 2</label> </div>
        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
    </div>

    <div class="form-group row">
      	<div class="col-xs-2"> <label for="ex1">Experiance Title</label> </div>
        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-2" ><label class="form-control" >Experiance Description</label></div>
      <div class="col-xs-4" ><textarea rows="5" cols="70" class="form-control"  id="comment"></textarea></div>
    </div>


    <div class="form-group row">
      	<div class="col-xs-2"> <label for="ex1">Experiance Company 1</label> </div>
        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
    </div>

    <div class="form-group row">
      	<div class="col-xs-2"> <label for="ex1">Experiance Company 2</label> </div>
        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
    </div>

    <div class="form-group row">
      	<div class="col-xs-2"> <label for="ex1">Reference</label> </div>
        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
    </div>

    <div class="form-group row">
      	<div class="col-xs-2"> <label for="ex1">Reference Description</label> </div>
        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
    </div>

    <div class="form-group row">
      	<div class="col-xs-2"> <label for="ex1">Emergency Contact</label> </div>
        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
    </div>

    <div class="form-group row">
      	<div class="col-xs-2"> <label for="ex1">Maritial Status</label> </div>
        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
    </div>
 	<div class="panel panel-default">

			<div class="panel-heading">Address Details</div>
			<div class="panel-body">
            <fieldset class="col-md-10">
					<legend>Adddress</legend>
                  <div class="form-group row">
                      <div class="col-xs-2"> <label for="ex1">Street</label> </div>
                      <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
                  </div>
                  <div class="form-group row">
                        <div class="col-xs-2"> <label for="ex1">City</label> </div>
                        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
      			  </div>
                  <div class="form-group row">
                        <div class="col-xs-2"> <label for="ex1">Postal Code</label> </div>
                        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
      			  </div>
                  <div class="form-group row">
                        <div class="col-xs-2"> <label for="ex1">State</label> </div>
                        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
      			  </div>
                  <div class="form-group row">
                        <div class="col-xs-2"> <label for="ex1">Country</label> </div>
                        <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
      			  </div>
                  </fieldset>
				  <div class="clearfix"></div>
            </div>
      </div>

 	  <div class="panel panel-default">
			<div class="panel-heading">Disabilty Details</div>
			<div class="panel-body">
            <fieldset class="col-md-10">
					<legend></legend>
                  <div class="form-group row">
                      <div class="col-xs-2"> <label for="ex1">Disabled ?</label> </div>
                      <div class="col-xs-5"> <input class="form-control" id="ex1" type="text">  </div>
                  </div>
                  <div class="form-group row">
                        <div class="col-xs-2"> <label for="ex1">Disability Description</label> </div>
                              <div class="col-xs-4" class="form-control" ><textarea rows="5" cols="70"  id="comment"></textarea></div>
      			  </div>
                  </fieldset>
				  <div class="clearfix"></div>
            </div>
      </div>
  </form>
</div>
